# =====================
# Dataset
# =====================
data/

data/raw/
data/processed/

# =====================
# Model weights
# =====================
weights/
*.pt
*.pth
*.ckpt

# =====================
# Training results
# =====================
runs/
logs/
results/

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Environment
# =====================
.env
.venv/
venv/

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db